   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dirprodformations.fr/wp-content/uploads/2017/08/salle-cinema-3.jpg);">
    <h1>My List !</h1>
    <p>Feel free to add list of bookmarks </p>
  </div>
</div>
